functionOne($color)
  color $color

:host
  display block
  padding 24px
  min-height 100vh

h1
  font-size 24px
  functionOne(red)

span
  font-size 12px
  functionOne(green)

p
  color blue

/**
  :host {
    display: block
    padding: 24px
    min-height: 100vh
  }
*/
