$teal = #00BCD4
$dark-blue = #3a71cb
$blue = #2d9cdb
$light-blue = #56ccf2
$dark-orange = #fc6e51
$orange = #ff8f3d
$yellow = #ffbf00
$red = #fc6e51
$dark-pink = #844281
$pink = #ff4081
$light-pink = #c56a89
$gray = #828282
$light-gray = #dcdcdc
$light = #FAFAFA
$dark = #424242